<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Colony Form</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <style>
      .error {
        color: red;
        font-weight: 500;
        letter-spacing: 2px;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../navbar.html') %>

    <div class="container mt-5 bg-light p-4 border rounded">
      <h2>Add Colony</h2>
      <% if (error) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span><%= error %></span>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
      <form method="post" action="/colony/add">
        <!-- Code -->
        <div class="mb-3">
          <label for="code" class="form-label">Colony Code</label>
          <input
            type="text"
            class="form-control"
            id="code"
            name="code"
            placeholder="Enter Colony Code"
            required
          />
          <span class="error"></span>
        </div>
        <!-- Name -->
        <div class="mb-3">
          <label for="name" class="form-label">Colony Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter Colony Name"
            required
          />
          <span class="error"></span>
        </div>
        <!-- Submit Button -->
        <button
          type="submit"
          disabled="true"
          id="submit"
          class="btn btn-primary"
        >
          Add Colony
        </button>
      </form>
    </div>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const code = document.getElementById("code");
      const name = document.getElementById("name");
      const submitButton = document.getElementById("submit");

      code.addEventListener("keyup", () => {
        const value = code.value;
        if (!value) {
          document.getElementsByClassName("error")[0].textContent =
            "Colony Code can't be empty!";
        } else if (value.length < 2) {
          document.getElementsByClassName("error")[0].textContent =
            "Colony Code must contain atleast 2 characters";
        } else {
          document.getElementsByClassName("error")[0].textContent = "";
          submitButton.disabled = false;
        }
      });
      name.addEventListener("keyup", () => {
        const value = name.value;
        if (!value) {
          document.getElementsByClassName("error")[1].textContent =
            "Colony Name can't be empty!";
          submitButton.disabled = "true";
        } else if (value.length < 5) {
          document.getElementsByClassName("error")[1].textContent =
            "Colony Name must contain atleast 5 characters";
          submitButton.disabled = "true";
        } else {
          document.getElementsByClassName("error")[1].textContent = "";
          submitButton.disabled = false;
        }
      });
    </script>
  </body>
</html>
