<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Colony</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <style>
      .error {
        color: red;
        font-weight: 500;
        letter-spacing: 2px;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../navbar.html') %>

    <div class="container mt-5 bg-light p-5 rounded-3">
      <h2>Update Colony</h2>
      <form method="post" action="/colony/update">
        <!-- Code -->
        <div class="my-3">
          <label for="code" class="form-label">Colony Code</label>
          <input
            type="text"
            class="form-control"
            id="code"
            name="code"
            value="<%= rows.colonyCode %>"
            required
            readonly
          />
        </div>

        <!-- Name -->
        <div class="mb-3">
          <label for="name" class="form-label">Colony Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter name"
            value="<%= rows.colonyName %>"
            required
          />
          <span class="error"></span>
        </div>

        <!-- Submit Button -->
        <button type="submit" id="submit" class="btn btn-primary">
          Update Colony
        </button>
      </form>
    </div>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const name = document.getElementById("name");
      const submitButton = document.getElementById("submit");

      name.addEventListener("keyup", () => {
        const value = name.value;
        if (!value) {
          document.getElementsByClassName("error")[0].textContent =
            "Colony Name can't be empty!";
          submitButton.disabled = "true";
        } else if (value.length < 5) {
          document.getElementsByClassName("error")[0].textContent =
            "Colony Name must contain atleast 5 characters";
          submitButton.disabled = "true";
        } else {
          document.getElementsByClassName("error")[0].textContent = "";
          submitButton.disabled = false;
        }
      });
    </script>
  </body>
</html>
